@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #232326;
  --color-secondary: #2d2d30;
  --color-accent: #7a66d3;
  --color-info: #464649;
  --color-accent-content: #e6e6e6;
}

@font-face {
  font-family: Neusans-regular;
  src: url(/fonts/NeuSans-Regular.1ca3b39b.woff2);
}
@font-face {
  font-family: Neusans-medium;
  src: url(/fonts/NeuSans-Medium.7b11edcf.woff2);
}
@font-face {
  font-family: Neusans-bold;
  src: url(/fonts/NeuSans-Bold.5c45f750.woff2);
}

body {
  font-family: "Neusans-regular", sans-serif;
  background-image: url("./assets/background-noise.webp");
}

.button_primary {
  @apply rounded-full font-[Neusans-medium] px-6.5 btn font-medium  bg-secondary text-base-100 hover:bg-primary transition-all duration-200  py-5.5;
}

.heading {
  @apply text-[28px]/8 md:text-[32px]/10 font-[Neusans-bold] text-primary;
}
